.flex.section.about
  h2 About
  p Srijan means creation. Srijan is the annual magazine of Department of Computer Science, University of Delhi.
  p Srijan started with an aim to capture the infinite advancements in technology and lay out a bigger picture in a few words. Since then, we have been trying to capture and highlight what happened in the past year and what lies ahead. Srijan aims at giving a complete roundup of the emerging tech within the field of computer science.
  p The theme for this year's edition of Srijan is CES 2018. It will be released at Sankalan on April 7th, 2018.
