footer
  p Copyright © 2018. Made with ♥ by&nbsp;
    a(href="https://github.com/sidvishnoi" data-id="srijan-footer-dev")
      span(style="white-space: nowrap") Sudhanshu Vishnoi
  p Delhi University Computer Science Society (DUCSS)
