mixin item(text, link)
  a.button(href=link) #{text}

.old#old
  .inner
    a.close(title="Close" id="close") ❌
    h2 Previous Editions
    .versions
      a.button(href="https://drive.google.com/file/d/1Z_k1JsiQCevExEwUxY3ykX-3aXOx7MWU/view") Vol. 8 (2018)
      a.button(href="http://www.cs.du.ac.in/uploads/srijan/srijanVol7_2017.pdf") Vol. 7 (2017)
      a.button(href="http://www.cs.du.ac.in/uploads/srijan/srijanVol6_2016.pdf") Vol. 6 (2016)
      a.button(href="#") Vol. 5 (2015)
      a.button(href="http://www.cs.du.ac.in/uploads/srijan/srijanVol4_2014.pdf") Vol. 4 (2014)
      a.button(href="http://www.cs.du.ac.in/uploads/srijan/srijanVol3_2013.pdf") Vol. 3 (2013)
      a.button(href="http://www.cs.du.ac.in/uploads/srijan/srijanVol2_2012.pdf") Vol. 2 (2012)
      a.button(href="http://www.cs.du.ac.in/uploads/srijan/srijanVol1_2011.pdf") Vol. 1 (2011)
