.flex.section.team
  h2 The Team
  .members
    each member in team
      .member
        .img
          img(src=member.image.replace('/s1600/', '/s300-c/'), alt="")
        span #{member.title}
        h3 #{member.name}
