html
  include _head
  body.flex
    include _header
    h1 Srijan
    p.subtitle
      | Srijan is the annual magazine of Department of Computer Science,  University of Delhi.
    .cta
      a.button(href="#") Read The Magazine
      span.small Vol. 9 (2019)
      span.small
        | (
        a(href="#old" id="showOld") See previous editions
        | )
    include _about
    include _previous-editions
    include _footer
    script.
      function toggleShow(){document.getElementById('old').classList.toggle('active')}
      document.getElementById('showOld').addEventListener('click',toggleShow);
      document.getElementById('close').addEventListener('click',toggleShow);
